$layout-breakpoint-small: 960px;

.btn-group {
    margin-top: $spacing-xl;
    @include screen("med", min){
      margin-top: $spacing-l;
    }
  .btn {
    &:nth-child(2) {
      margin-top: $spacing-xl;
      text-decoration: underline;
    }
  }
}
.btn {
  background-color: $color-cta-colors-primary;
  min-width: 160px;
  width: 100%;
  height: 48px;
  border-radius: $radius-m;

  // TODO: DYNAMIC ANIM CURVES BEZIER
  transition: all 0.2s ease-in;

  @include screen("med", min){
    height: 64px;
  }

  &:hover {
    cursor: pointer;
  }

  @include flex(center, center);
  @include headline-5;

  &-primary {
    background-color: $color-cta-colors-primary;
    color: $color-mono-white;
    @include hocus() {
      background: $transparent-color;
      color: $color-cta-colors-primary;
      border: 1px solid $color-cta-colors-primary;
    }
  }

  &-secondary {
    background-color: $color-cta-colors-secondary;
    color: $color-mono-white;
    @include hocus() {
      background: $transparent-color;
      color: $color-cta-colors-secondary;
      border: 1px solid $color-cta-colors-secondary;
    }
  }
}

