.checkbox-container {
	display: inline-block;

    label input {
        display: none;
    }

    label {
        position: relative;
    
        cursor: pointer;
    
        @include flex(false, center);
        @include headline-p;
    
        .label {
            @include headline-p;
            color: $color-mono-gray-4;
            margin-left: 12px;
        }

        .checkbox {
            position: relative;
        
            @include flex(center, center);
            @include square(24px);
            @mixin  hocus {
                outline: none;
            }
        
            background-color: $color-mono-white;
            border: 1px solid $color-mono-gray-2;
            border-radius: $radius-s;

            img {
                display: none;
            }
        
        }
    }
}

.checkbox-container label input:checked ~ .checkbox img {
    display: block;
}

.checkbox-container label input:checked ~ .checkbox{
    background-color: $color-cta-colors-primary;
}
