.form {
  @include flex(none, none, column);
  margin-top: 80px;
  
  padding: $padding-form-y $padding-form-x$padding-form-y $padding-form-x;
  
  background-color: $color-mono-gray-1;
  border-radius: $radius-s;
  
  box-shadow: $card-shadow;

  .title {
      @include headline-2;
      align-self: flex-start;
  }

  .link, .checkbox-container {
    margin-top: $spacing-xl;
    @include screen("med", max){
      margin-top: $spacing-l;
    }
  }


  .form-item {
    position: relative;
    $inputs-gap: 30px;
  
    @include flex(none, none, column);
  
    width: 100%;
    margin-top: $inputs-gap;
  
    &:nth-child(2) {
      margin-top: $inputs-gap;
    }
  
    label,
    input {
      color: $color-mono-gray-3;
      &::placeholder {
        color: $color-mono-gray-3;
      }
    }
  
    label {
      margin-bottom: $spacing-input;
      @include headline-5;
    }

    input[type="password"] ~ span {
        display: none;
        position: absolute;
        bottom: 15px;
        right: 20px;
    }
    input[type="password"] ~ .succes {
        display: block
    }
  }

}  

.form-content {
  @include flex(none, none, column);
  width: 350px;
}  
