.input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.input-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.label {
  margin-bottom: 3px;
}
.input {
  width: 350px;
  font-size: 24px;
  line-height: 24px;
  padding: 17px 24px 14px 24px;
  border-radius: 8px;
  background-color: $color-cta-colors-tercary;
  &::placeholder {
    color: $color-mono-gray-3;
    @include headline-4;
  }
  &::active {
    border-color: $color-cta-colors-primary;
  }
}
