.input {
  max-width: 350px;
  height: 56px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 54px 0px;
  border-radius: 8px;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background-color: $color-cta-colors-tercary;
}
