/*Media query mixin*/
@mixin hocus() {
    &:hover,
    &:focus {
      @content;
    }
  }

  @mixin flex($justify: center, $align: center) {
    display: flex;

    @if $justify == center {
      justify-content: center;
    }

    @if $align == center {
      align-items: center;
    }
  }


  @mixin square($size) {
    width: $size;
    height: $size;
  }