$spacing-xs: 8px;
$spacing-s: 16px;
$spacing-m: 24px;
$spacing-l: 32px;
$spacing-xl: 48px;
$spacing-xxl: 66px;



// for page level spacings only
// // (like between main blocks)
$spacing-section-l: 120px;
$spacing-section-xl: 200px;